<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Weather</title>


</head>

<body>

    <div class="main-content">
        {{>header}}

        <p>Here you can check the Weather of any place :)</p>

        <form>
            <input placeholder="Location">
            <button>search</button>
        </form>

        <!-- Location/error msg -->
        <p id="msg-1"></p>
        <!-- forecast -->
        <p id="msg-2"></p>
    </div>


    {{>footer}}
    <script src="./js/app.js"></script>
</body>

</html>